{% extends "base.html" %}

{% block title %}
Sobre
{% endblock %}

{% block content %}

<h1> Sobre o Portal Saúde & Bem-Estar</h1>

<section>
    <h2>Missão</h2>

    <p>Nossa missão é oferecer informações e ferramentas
        que contribuem para a saúde e o bem-estar.
    </p>
</section>

<section>
    <h2>Nossa Equipe</h2>

    <div>
        <h3>Francisco Augusto</h3>
        <p>Integrante da Equipe</p>
    </div>

    <div>
        <h3>Lucas Rafael</h3>
        <p>Integrante da Equipe</p>
    </div>
</section>

<section>
    <h2>Recursos oferecidos</h2>

    <div>
        <h3> Calculadora Matemática</h3>
        <p>Permite realizar operações matemáticas</p>
    </div>

    <div>
        <h3>Calculadora de IMC</h3>
        <p>Permite calcular o ídice de massa corporal.</p>
    </div>

    <div>
        <h3>Perfil do Usuário</h3>
        <p>Permite visualizar os dados e as metas do usuário.</p>
    </div>
</section>

{% endblock %}