{% extends "base.html" %}

{% block title %}
Calculadora
{% endblock %}

{% block content %}

<div class="math-page">
    <div class="math-card">
        <h1>Resultado da Calculadora</h1>
        <p class="math-operacao">
            Operação: <strong>{{ nome_operacao }}</strong>
        </p>
        <div class="math-resultado">
            {{ a }} {{ simbolo }} {{ b }}
            <span>=</span>
            {{ resultado }}
        </div>
        <a class="math-voltar" href="{{ url_for('inicio') }}">
            Voltar para o Início
        </a>
    </div>
</div>

{% endblock %}